<!-- <footer class="footer bg-dark mt-auto">
    <div class="container py-3">
        <span class="bich text-muted">&copy;YelpCamp 2022</span>
    </div>
</footer> -->
<footer class="footer bg-dark mt-auto">
    <div class="text-center text-muted p-3" style="background-color: rgba(0, 0, 0, 0.05);">
        &copy;YeplCamp 2022
    </div>
</footer>
